<div class="home__container">

	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="Exclusive"
		gameType="Disc | PS-7"
		gamePrice="R$ 199,90"
	></app-card>

	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="New"
		gameType="Disc | PS-8 | PS-5"
		gamePrice="R$ 299,90"
	></app-card>

	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="Digital"
		gameType="Digital | PS-4 | PS-5 | PS-6"
		gamePrice="R$ 129,90"
	></app-card>

	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="Exclusive"
		gameType="Disc | PS-5"
		gamePrice="R$ 139,90"
	></app-card>

		<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="Digital"
		gameType="Analog | PS-6"
		gamePrice="R$ 159,90"
	></app-card>

	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		gameLabel="War Israel"
		gameType="Disc | PS-9"
		gamePrice="R$ 599,90"
	></app-card>
</div>
